@{
    ViewBag.Title = "SeavedEvents";
}
<html>
<head>
    <title>Saved events</title>
    <link href="~/css/angular-material.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

</head>

<body ng-app="myApp" ng-controller="SavedPathCtrl" ng-cloak>
    <script src="~/js/angular.min.js"></script>
    <script src="~/js/angular-animate.min.js"></script>
    <script src="~/js/angular-aria.min.js"></script>
    <script src="~/js/angular-messages.min.js"></script>
    <script src="~/js/angular-material.min.js"></script>
    <script src="~/js/JavaScript.js"></script>

    <md-button class="md-primary md-raised" ng-click="showCustom($event)" flex="100" flex-gt-md="auto">
        Confirm Dialog
    </md-button>

    <md-content layout-gt-sm="row" layout-align="center center" layout-padding>

        <h2 ng-show="noResults">You have no saved events</h2>
        <md-list flex>
            <md-list-item class="md-3-line" ng-click="null" ng-repeat="result in results">
                <div class="md-list-item-text" layout="row" ng-repeat="event in result.PathEvents">

                    <div layout="column" flex="45">
                        <h3 flex>{{event.Title}} {{event.Type.Name}}  </h3>
                        <h4 flex>{{event.Location.Name}}</h4>
                        <p flex> {{event.stringDate}} </p>
                        <p>Price: {{event.Price}} $ {{event.coin}}</p>
                    </div>
                    <div layout="column" flex="10">
                        <md-icon md-svg-src="~/css/svg/ic_send_black_24px.svg">
                        </md-icon>
                    </div>
                </div>
                <div>
                    <md-button class="md-fab md-primary" aria-label="Use Android">
                        <md-icon md-svg-src="~/css/svg/ic_flight_takeoff_white_24px.svg"></md-icon>
                    </md-button>
                </div>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
    </md-content>
</body>
</html>
